{% extends 'base.html' %}

{% block conteudo %}

<div class="card shadow-sm">

    <div class="card-body">

        <h1 class="mb-4">
            Relatório de Frequência
        </h1>

        <table class="table table-hover">

            <thead>

                <tr>

                    <th>Aluno</th>
                    <th>Total Aulas</th>
                    <th>Presenças</th>
                    <th>Frequência</th>

                </tr>

            </thead>

            <tbody>

                {% for item in relatorio %}

                <tr>

                    <td>
                        {{ item.nome }}
                    </td>

                    <td>
                        {{ item.total }}
                    </td>

                    <td>
                        {{ item.presentes }}
                    </td>

                    <td>

                        {% if item.percentual >= 75 %}

                        <span class="badge bg-success">
                            {{ item.percentual }}%
                        </span>

                        {% else %}

                        <span class="badge bg-danger">
                            {{ item.percentual }}%
                        </span>

                        {% endif %}

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}