{% extends 'base.html' %}

{% block conteudo %}

<h1 class="mb-4">
    Dashboard
</h1>

<div class="row">

    <div class="col-md-3">

        <div class="card bg-primary text-white shadow-sm">

            <div class="card-body">

                <h5>
                    Total de Alunos
                </h5>

                <h2>
                    {{ total_alunos }}
                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card bg-success text-white shadow-sm">

            <div class="card-body">

                <h5>
                    Faturamento
                </h5>

                <h2>
                    R$ {{ faturamento }}
                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card bg-danger text-white shadow-sm">

            <div class="card-body">

                <h5>
                    Inadimplentes
                </h5>

                <h2>
                    {{ inadimplentes }}
                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card bg-warning text-dark shadow-sm">

            <div class="card-body">

                <h5>
                    Aptos Exame
                </h5>

                <h2>
                    {{ aptos }}
                </h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}